<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #formInputs {
            display: flex;
            flex-direction: column;
        }
        #formButtons {
            display: flex;
            width: 100%;
            padding-top: 5px;
            align-items: center;
            justify-content: center;
        }
        #signUpBtn {
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <h1>Log In</h1>
    <form method="post" action="/">
        <div id="formInputs">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <div id="formButtons">
                <input type="submit" id="logInBtn" name="logInBtn" value="Log in">
                <input type="submit" id="signUpBtn" name="signUpBtn" value="Sign up">
            </div>
        </div>
        {% if message_er %}
            <p style="color: red;">{{ message_er }}</p>
        {% endif %}
    </form>
</body>
</html>